version: 2.1
orbs:
  codecov: codecov/codecov@1.0.4
jobs:
  build:
    docker:
      - image: circleci/golang:1.11
    steps:
      - checkout
      - run: go build
      - run:
          name: "Create a temp directory for artifacts"
          command: |
            mkdir -p /tmp/artifacts
      - run:
          command: |
            go test -race -coverprofile=c.out
            go tool cover -html=c.out -o coverage.html
            mv coverage.html /tmp/test-output
      - store_artifacts:
          path: /tmp/test-output
          destination: raw-test-output
      - codecov/upload:
          file: /tmp/artifacts/coverage.html
