version: 2.1
orbs:
  codecov: codecov/codecov@1.0.4


jobs:
  build:
    docker:
      - image: circleci/golang:1.11
    steps:
      - checkout
      - run: go build
      - run:
          name: "Create a temp directory for artifacts"
          command: |
            mkdir -p /tmp/artifacts
      - run:
          command: |
            go test -race -coverprofile=c.out --cov=src --cov-report=xml --cov-report=html
            go tool cover -html=c.out -o coverage.html
      - codecov/upload:
          file: coverage.html
      - store_artifacts:
          path: /tmp/test-output
